index.html
<!DOCTYPE html><html><head><title>Welcome :: Home</title><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css"><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/grids-responsive-min.css"><link rel="stylesheet" href="static/css/style.css"><link rel="shortcut icon" href="static/img/favicon.png" type="image/png"></head><body><div class="page page-fullscreen"><a id="home" href="index.html" class="balloon balloon-1 color-1"><img src="static/img/tree.png"></a><a href="pagina-1.html" class="balloon balloon-2 color-2"><span>1</span></a><a href="pagina-2.html" class="balloon balloon-3 color-3"><span>2</span></a><a href="pagina-3.html" class="balloon balloon-4 color-4"><span>3</span></a><a href="pagina-4.html" class="balloon balloon-5 color-5"><span>4</span></a></div><script src="//javaspritz.com/cdn/dom.polyfill.min.js"></script><script src="static/js/main.js"></script></body></html>

index.jade
extends layout

block title
  | :: Home

//-block afterhead

block app
  .page.page-fullscreen
    a#home.balloon.balloon-1.color-1(href='index.html')
      img(src='static/img/tree.png')
    a.balloon.balloon-2.color-2(href='pagina-1.html')
      span 1
    a.balloon.balloon-3.color-3(href='pagina-2.html')
      span 2
    a.balloon.balloon-4.color-4(href='pagina-3.html')
      span 3
    a.balloon.balloon-5.color-5(href='pagina-4.html')
      span 4

//-block scripts
