pagina-1.html
<!DOCTYPE html><html><head><title>Welcome :: Home</title><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css"><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/grids-responsive-min.css"><link rel="stylesheet" href="static/css/style.css"><link rel="shortcut icon" href="static/img/favicon.png" type="image/png"></head><body><div class="page page-fullscreen"><a href="pagina-1.html" class="balloon balloon-1 color-2"><span>Pagina 1</span></a><a href="http://agora.corp.rcs.group/it/il-mio-lavoro/formazione/catalogo-formazione/webinar" target="_top" class="balloon balloon-2 color-2"><span>LINK INTRANET</span></a><a href="pagina-1-dettaglio.html" class="balloon balloon-3 color-2"><span>Dettaglio</span></a><a href="pagina-1-dettaglio.html" class="balloon balloon-4 color-2"><span>Dettaglio</span></a><a href="pagina-1-dettaglio.html" class="balloon balloon-5 color-2"><span>Dettaglio</span></a></div><a href="javascript:window.history.back();" class="fixed"><span>Indietro</span></a><script src="//javaspritz.com/cdn/dom.polyfill.min.js"></script><script src="static/js/main.js"></script></body></html>

pagina-1.jade
extends layout

block title
  | :: Home

//-block afterhead

block app
  .page.page-fullscreen
    a.balloon.balloon-1.color-2(href='pagina-1.html')
      span Pagina 1
    a.balloon.balloon-2.color-2(href='http://agora.corp.rcs.group/it/il-mio-lavoro/formazione/catalogo-formazione/webinar', target='_top')
      span LINK INTRANET
    a.balloon.balloon-3.color-2(href='pagina-1-dettaglio.html')
      span Dettaglio
    a.balloon.balloon-4.color-2(href='pagina-1-dettaglio.html')
      span Dettaglio
    a.balloon.balloon-5.color-2(href='pagina-1-dettaglio.html')
      span Dettaglio
      
  a.fixed(href='javascript:window.history.back();'): span Indietro

//-block scripts
