pagina-2.jade
extends layout

block title
  | :: Home

//-block afterhead

block app
  .page.page-fullscreen
    a.balloon.balloon-1.color-3(href='pagina-2.html')
      span Pagina 2
    a.balloon.balloon-2.color-3(href='pagina-2-dettaglio.html')
      span Dettaglio
    a.balloon.balloon-3.color-3(href='pagina-2-dettaglio.html')
      span Dettaglio
    a.balloon.balloon-4.color-3(href='pagina-2-dettaglio.html')
      span Dettaglio
    a.balloon.balloon-5.color-3(href='pagina-2-dettaglio.html')
      span Dettaglio
      
  a.fixed(href='javascript:window.history.back();'): span Indietro

//-block scripts

pagina-2.html
<!DOCTYPE html><html><head><title>Welcome :: Home</title><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css"><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/grids-responsive-min.css"><link rel="stylesheet" href="static/css/style.css"><link rel="shortcut icon" href="static/img/favicon.png" type="image/png"></head><body><div class="page page-fullscreen"><a href="pagina-2.html" class="balloon balloon-1 color-3"><span>Pagina 2</span></a><a href="pagina-2-dettaglio.html" class="balloon balloon-2 color-3"><span>Dettaglio</span></a><a href="pagina-2-dettaglio.html" class="balloon balloon-3 color-3"><span>Dettaglio</span></a><a href="pagina-2-dettaglio.html" class="balloon balloon-4 color-3"><span>Dettaglio</span></a><a href="pagina-2-dettaglio.html" class="balloon balloon-5 color-3"><span>Dettaglio</span></a></div><a href="javascript:window.history.back();" class="fixed"><span>Indietro</span></a><script src="//javaspritz.com/cdn/dom.polyfill.min.js"></script><script src="static/js/main.js"></script></body></html>
